<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--过滤静态资源-->
    <mvc:resources mapping="/statics/**" location="/statics/"/>
    <!--配置视图解析器-->
    <!--对转向页面的路径解析 preFix:前缀 suffix:后缀-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置一个控制器的been接收请求-->
    <!--<bean name="/hello.html" class="cn.kgc.demo.controller.HelloController"/>

    <bean name="/who.html" class="cn.kgc.demo.controller.ControllerTest01"/>-->
    <!--扫描指定的包把控制器成为bean-->
    <context:component-scan base-package="cn.kgc.smbms.controller"/>
    <!--启动mvc对注解的支持-->
    <mvc:annotation-driven/>

    <!-- 配置MultipartResolver，用于上传文件，使用spring的CommonsMultipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5000000"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

</beans>